################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Saladin-main/Internship2022_Backend/.vs/Internship2022_Backend/FileContentIndex/2681bc50-7c75-426c-9a61-4d0d8c866a5a.vsidx
/.vs/Saladin3/v17
/Saladin-main/Internship2022_Backend/.vs/Internship2022_Backend/FileContentIndex
